img {
    width: 250px;
    height: 400px;
    
}

body {
    background-color: rgb(213, 215, 219);
}

#header {
    background-color: rgb(172, 194, 230);
}

#footer {
    background-color: rgb(172, 194, 230);
}